/**app.wxss**/
page {
  background: #f9f9f9;
  /* background: red; */
}
view {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-size: 28rpx;
}
button {
  padding: 0;
  margin: 0;
}
button::after {
  border: none
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 
.noIcon {
  width: 156rpx;
  height: 226rpx;
}
/* 右箭头 */
.arrow {
  width: 14rpx;
  height: 24rpx;
}
/* 520px button按钮 */
.submitBtn {
  width: 520rpx;
  height: 84rpx;
  text-align: center;
  line-height: 84rpx;
  background: #54C3D4;
  margin: 0 auto;
  border-radius: 84rpx;
  color: #fff;
  font-size: 32rpx;
}
/* 无信息-空白页 */
.noDataBody {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.noDataIcon {
  width: 296rpx;
  height: 296rpx;
  border-radius: 296rpx;
  margin-bottom: 26rpx;
}
.noDataText {
  font-size: 28rpx;
  color: #999;
}