<view class="advicePage">
  <view class='adviceCon'>
    <textarea bindinput='inputCon'  auto-height maxlength="-1" placeholder-class="default" placeholder='您的意见将会是我们宝贵的资源～'></textarea>
    <view class='tips'>请输入不少于20字的内容</view>
  </view>
  <view class='inputCon'>
    <input bindinput='inputTel' placeholder-class="default" placeholder='请输入您的联系方式（必填）'></input>
  </view>
  <view class='submitBtn' style='background: #D8D8D8;margin-top: 110rpx;' wx:if="{{content.length <= 20 || contact==''}}">
    确认提交
  </view>
  <view wx:else class="submitBtn" bindtap='commentPush' style='margin-top: 110rpx;background:{{ true ? "#54C3D4" : "#D8D8D8"}}'>
    确认提交
  </view>
</view>