.learnList {
  /* padding: 47rpx 28rpx; */
}
.list {
  width: 100%;
  height: 230rpx;
  border-radius: 25rpx;
  box-shadow: 0px 3rpx 10rpx 0px rgba(75, 75, 75, 0.5);
  padding: 16rpx 30rpx 26rpx;
  margin-bottom: 36rpx;
}
.list.classing {
  background: #F2D14F;
}
.list.classnot {
  background: #54C3D4;
}
.insideBox {
  background: #fff;
  border-radius: 25rpx;
  height: 100%;
}
.level {
  margin-left: 36rpx;
  width: 182rpx;
  height: 76rpx;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 25rpx;
  border-bottom-right-radius: 25rpx;
  font-size: 60rpx;
  font-weight: bold;
  vertical-align: top;
  line-height: 1;
  letter-spacing: -8rpx;
}
.classing .level {
  background: #F2D14F;
}
.classnot .level {
  background: #54C3D4;
}
.title {
  margin: 10rpx 0 12rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blockIcon {
  width: 38rpx;
  height: 30rpx;
}
.title text {
  font-size: 34rpx;
  font-weight: bold;
  color: #f97506;
  margin-left: 14rpx;
  line-height: 1;
}
.process {
  text-align: center;
}
.bar {
  height: 18rpx;
  width: 386rpx;
  margin: auto;
}
.beginDate {
  font-size: 20rpx;
  color: #54C3D4;
  text-align: center;
}
.processNum {
  width: 386rpx;
  margin: auto;
  font-size: 16rpx;
  color: #F2D14F;
  text-align: left;
  line-height: 1;
}
.processNum text {
  position: relative;
}
.loginComponent {
  position: relative;
  height: 100vh;
}
.loginBg {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.blueBtn {
  width: 70vw;
  background: transparent;
  margin: auto;
  position: absolute;
  left: 15vw;
  bottom: 30rpx;
}
.blueBtn image {
  width: 70vw;
}
.loginModel {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.loginBody {
  width: 590rpx;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginImg {
  width: 152rpx;
}
.loginBox {
  width: 100%;
  height: 390rpx;
  background: #fff;
  border-radius: 20rpx;
  text-align: center;
  color: #393939;
}
.loginTitle {
  color: #54C3D4;
  font-size: 40rpx;
  font-weight: bold;
  margin: 44rpx auto 30rpx;
}
.loginDesc {
  font-size: 24rpx;
  margin-bottom: 66rpx;
}
.loginNow {
  width: 520rpx;
  height: 84rpx;
  color: #fff;
  background: #54c4d4;
  line-height: 84rpx;
  text-align: center;
  border-radius: 84rpx;
  margin: 0 auto 20rpx;
}
.loginNow button {
  background: transparent;
  color: #fff;
  font-size: 32rpx;
}